<dribehance-header title="'资金流水'" back-action="'on'"></dribehance-header>
<div class="bill-table">
    <div class="table-header ">
        <div class="table-cell">
            时间
        </div>
        <div class="table-cell">
            金额
        </div>
        <div class="table-cell">
            余额
        </div>
        <div class="table-cell">
            类型
        </div>
    </div>
    <div class="table-row">
        <div class="table-cell">
            2016-03-06 15:30:20
        </div>
        <div class="table-cell">
            100.77
        </div>
        <div class="table-cell">
            100.77
        </div>
        <div class="table-cell">
            存款
        </div>
    </div>
    <div class="table-row">
        <div class="table-cell">
            2016-03-06 15:30:20
        </div>
        <div class="table-cell">
            100.77
        </div>
        <div class="table-cell">
            100.77
        </div>
        <div class="table-cell">
            存款
        </div>
    </div>
    <div class="table-row">
        <div class="table-cell">
            2016-03-06 15:30:20
        </div>
        <div class="table-cell">
            100.77
        </div>
        <div class="table-cell">
            100.77
        </div>
        <div class="table-cell">
            存款
        </div>
    </div>
    <div class="table-row">
        <div class="table-cell">
            2016-03-06 15:30:20
        </div>
        <div class="table-cell">
            100.77
        </div>
        <div class="table-cell">
            100.77
        </div>
        <div class="table-cell">
            存款
        </div>
    </div>
    <div class="table-row">
        <div class="table-cell">
            2016-03-06 15:30:20
        </div>
        <div class="table-cell">
            100.77
        </div>
        <div class="table-cell">
            100.77
        </div>
        <div class="table-cell">
            存款
        </div>
    </div>
    <div class="table-row">
        <div class="table-cell">
            2016-03-06 15:30:20
        </div>
        <div class="table-cell">
            100.77
        </div>
        <div class="table-cell">
            100.77
        </div>
        <div class="table-cell">
            存款
        </div>
    </div>
    <div class="table-row">
        <div class="table-cell">
            2016-03-06 15:30:20
        </div>
        <div class="table-cell">
            100.77
        </div>
        <div class="table-cell">
            100.77
        </div>
        <div class="table-cell">
            存款
        </div>
    </div>
    <div class="table-row">
        <div class="table-cell">
            2016-03-06 15:30:20
        </div>
        <div class="table-cell">
            100.77
        </div>
        <div class="table-cell">
            100.77
        </div>
        <div class="table-cell">
            存款
        </div>
    </div>
    <div class="table-row">
        <div class="table-cell">
            2016-03-06 15:30:20
        </div>
        <div class="table-cell">
            100.77
        </div>
        <div class="table-cell">
            100.77
        </div>
        <div class="table-cell">
            存款
        </div>
    </div>
    <div class="table-row">
        <div class="table-cell">
            2016-03-06 15:30:20
        </div>
        <div class="table-cell">
            100.77
        </div>
        <div class="table-cell">
            100.77
        </div>
        <div class="table-cell">
            存款
        </div>
    </div>
    <div class="table-row">
        <div class="table-cell">
            2016-03-06 15:30:20
        </div>
        <div class="table-cell">
            100.77
        </div>
        <div class="table-cell">
            100.77
        </div>
        <div class="table-cell">
            存款
        </div>
    </div>
</div>
