<dribehance-header title="'充值提现'" user="user"></dribehance-header>
<div class="wrap">
	<div class="me-section">
		<div class="me-section-header">
			<span class="block">账户余额</span>
			<span class="balance">5000.00</span>
		</div>
		<div class="list-group">
			<div class="list-group-item" ng-click="go('online_charge')">
				在线充值
				<i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
			</div>
			<div class="list-group-item" ng-click="go('online_withdraw')">
				在线取款
				<i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
			</div>
		</div>
	</div>
</div>
<div style="height:48px;"></div>
<dribehance-footer active="'charge'"></dribehance-footer>