<dribehance-header title="'在线客服'" back-action="'on'" user="user"></dribehance-header>
<div class="wrap text-white">
    <user-sidebar active="'contact'" user="user"></user-sidebar>
    <!-- right wrap -->
    <div class="right-wrap">
        <div class="game-section">
            <div class="section-header">
                在线充值
            </div>
            <div class="section-content">
                <div class="text-center">
                    如有疑问，请扫描下方二维码关注公众号， 或者在微信中搜索 xxxx 添加并关注公众号。
                </div>
                <div class="qrcode">
                    <imageview data-rate="1" src="'../images/qrcode.png'"></imageview>
                </div>
                <div class="text-center">官方唯一公众号，扫码关注</div>
            </div>
        </div>
    </div>
</div>
<dribehance-footer></dribehance-footer>