<dribehance-header title="'投注'" back-action="'on'"></dribehance-header>
<div class="wrap">
	<div class="game-header">
    	<div class="game-select">
            <select name="game" ng-model="input.game">
                <option value="特码">特码</option>
            </select>   
        </div>
        <p>
            <span class="text-white">第 </span>
            <span class="text-primary"> 131</span>
            <span class="text-white">距离封盘时间</span>
            <span class="text-primary">00:04:29</span>
        </p>
        <p>
            <span class="text-white">2016-11-10 第130期开奖号码</span>
        </p>
        <p>
        	<span class="game-code">2</span>
        	<span class="game-code">2</span>
        	<span class="game-code">2</span>
        	<span class="game-code">2</span>
        	<span class="game-code">2</span>
        	<span class="game-code">2</span>
        	<span class="game-code">2</span>
        	<span class="game-code">2</span>
        	<span class="game-code">2</span>
        	<span class="game-code">2</span>
        </p>
    </div>
    <div class="game-section" ng-click="show()">
    	<div class="game-section-header">
    		冠军
    	</div>
    	<div class="game-section-content">
    		<div>
    			<span>单 </span>
    			<span class="text-danger"> 10.97</span>
    		</div>
    		<div>
    			<span>双 </span>
    			<span class="text-danger"> 1.97</span>
    		</div>
    		<div>
    			<span>大 </span>
    			<span class="text-danger"> 1.97</span>
    		</div>
    		<div>
    			<span>小 </span>
    			<span class="text-danger"> 1.97</span>
    		</div>
    		<div>
    			<span>龙 </span>
    			<span class="text-danger"> 1.97</span>
    		</div>
    		<div>
    			<span>虎 </span>
    			<span class="text-danger"> 1.97</span>
    		</div>
    	</div>
    </div>
    <div class="game-section" ng-click="show()">
    	<div class="game-section-header">
    		亚军
    	</div>
    	<div class="game-section-content">
    		<div>
    			<span>单 </span>
    			<span class="text-danger"> 10.97</span>
    		</div>
    		<div>
    			<span>双 </span>
    			<span class="text-danger"> 1.97</span>
    		</div>
    		<div>
    			<span>大 </span>
    			<span class="text-danger"> 1.97</span>
    		</div>
    		<div>
    			<span>小 </span>
    			<span class="text-danger"> 1.97</span>
    		</div>
    		<div>
    			<span>龙 </span>
    			<span class="text-danger"> 1.97</span>
    		</div>
    		<div>
    			<span>虎 </span>
    			<span class="text-danger"> 1.97</span>
    		</div>
    	</div>
    </div>
    <div class="game-section" ng-click="show()">
    	<div class="game-section-header">
    		亚军
    	</div>
    	<div class="game-section-content">
    		<div>
    			<span>单 </span>
    			<span class="text-danger"> 10.97</span>
    		</div>
    		<div>
    			<span>双 </span>
    			<span class="text-danger"> 1.97</span>
    		</div>
    		<div>
    			<span>大 </span>
    			<span class="text-danger"> 1.97</span>
    		</div>
    		<div>
    			<span>小 </span>
    			<span class="text-danger"> 1.97</span>
    		</div>
    		<div>
    			<span>龙 </span>
    			<span class="text-danger"> 1.97</span>
    		</div>
    		<div>
    			<span>虎 </span>
    			<span class="text-danger"> 1.97</span>
    		</div>
    	</div>
    </div>
    <div class="game-section" ng-click="show()">
    	<div class="game-section-header">
    		亚军
    	</div>
    	<div class="game-section-content">
    		<div>
    			<span>单 </span>
    			<span class="text-danger"> 10.97</span>
    		</div>
    		<div>
    			<span>双 </span>
    			<span class="text-danger"> 1.97</span>
    		</div>
    		<div>
    			<span>大 </span>
    			<span class="text-danger"> 1.97</span>
    		</div>
    		<div>
    			<span>小 </span>
    			<span class="text-danger"> 1.97</span>
    		</div>
    		<div>
    			<span>龙 </span>
    			<span class="text-danger"> 1.97</span>
    		</div>
    		<div>
    			<span>虎 </span>
    			<span class="text-danger"> 1.97</span>
    		</div>
    	</div>
    </div>
    <div class="game-section" ng-click="show()">
    	<div class="game-section-header">
    		亚军
    	</div>
    	<div class="game-section-content">
    		<div>
    			<span>单 </span>
    			<span class="text-danger"> 10.97</span>
    		</div>
    		<div>
    			<span>双 </span>
    			<span class="text-danger"> 1.97</span>
    		</div>
    		<div>
    			<span>大 </span>
    			<span class="text-danger"> 1.97</span>
    		</div>
    		<div>
    			<span>小 </span>
    			<span class="text-danger"> 1.97</span>
    		</div>
    		<div>
    			<span>龙 </span>
    			<span class="text-danger"> 1.97</span>
    		</div>
    		<div>
    			<span>虎 </span>
    			<span class="text-danger"> 1.97</span>
    		</div>
    	</div>
    </div>
    <div class="game-section" ng-click="show()">
    	<div class="game-section-header">
    		亚军
    	</div>
    	<div class="game-section-content">
    		<div>
    			<span>单 </span>
    			<span class="text-danger"> 10.97</span>
    		</div>
    		<div>
    			<span>双 </span>
    			<span class="text-danger"> 1.97</span>
    		</div>
    		<div>
    			<span>大 </span>
    			<span class="text-danger"> 1.97</span>
    		</div>
    		<div>
    			<span>小 </span>
    			<span class="text-danger"> 1.97</span>
    		</div>
    		<div>
    			<span>龙 </span>
    			<span class="text-danger"> 1.97</span>
    		</div>
    		<div>
    			<span>虎 </span>
    			<span class="text-danger"> 1.97</span>
    		</div>
    	</div>
    </div>
</div>
<div style="height:48px;"></div>
<div class="detail-footer justified">
	<span class="reset-btn">重置</span>
	<span class="submit-btn">提交</span>
</div>
<div class="overlay" ng-if="popup_state == 'open'">
    <div class="popup">
        <div class="close" ng-click="close()"></div>
        <div class="popup-header">
            <span>投注</span><span class="title">特码A 18</span>
        </div>
        <input type="tel" ng-model="input.money" name="money" placeholder="请输入投注金额">
        <button>投注</button>
    </div>
</div>