<dribehance-header title="'兑换奖品'" back-action="'on'"></dribehance-header>
<div class="wrap">
    <div class="two-grid">
        <div class="product-item" ng-click="go('detail')">
            <imageview data-rate="348/229" src="'../images/example.png'" center-only></imageview>
            <div class="product-meta">
                <span class="block">宝马X4 进口</span>
                <span class="text-danger">$490</span>
            </div>
        </div>
        <div class="product-item" ng-click="go('detail')">
            <imageview data-rate="348/229" src="'../images/example.png'" center-only></imageview>
            <div class="product-meta">
                <span class="block">宝马X4 进口</span>
                <span class="text-danger">$490</span>
            </div>
        </div>
        <div class="product-item" ng-click="go('detail')">
            <imageview data-rate="348/229" src="'../images/example.png'" center-only></imageview>
            <div class="product-meta">
                <span class="block">宝马X4 进口</span>
                <span class="text-danger">$490</span>
            </div>
        </div>
        <div class="product-item" ng-click="go('detail')">
            <imageview data-rate="348/229" src="'../images/example.png'" center-only></imageview>
            <div class="product-meta">
                <span class="block">宝马X4 进口</span>
                <span class="text-danger">$490</span>
            </div>
        </div>
        <div class="product-item" ng-click="go('detail')">
            <imageview data-rate="348/229" src="'../images/example.png'" center-only></imageview>
            <div class="product-meta">
                <span class="block">宝马X4 进口</span>
                <span class="text-danger">$490</span>
            </div>
        </div>
    </div>
</div>
