<dribehance-header title="'六合彩'" back-action="'on'" active="'liuhecai'" user="user"></dribehance-header>
<div class="wrap">
    <!-- left wrap -->
    <div class="left-wrap">
        <div class="game-section">
            <div class="section-header">
                最新开奖
            </div>
            <div class="section-content">
                <p>
                    <span class="text-white">第 </span>
                    <span class="text-primary"> 131</span>
                    <span class="text-white">距离开奖时间</span>
                    <span class="text-primary">00:04:29</span>
                </p>
                <p>
                    <span class="text-white">2016-11-10 第130期开奖号码</span>
                </p>
                <p>
                    <span class="game-code">2</span>
                    <span class="game-code">2</span>
                    <span class="game-code">2</span>
                    <span class="game-code">2</span>
                    <span class="game-code">2</span>
                    <span class="game-code">2</span>
                    <span class="game-code">2</span>
                    <span class="game-code">2</span>
                    <span class="game-code">2</span>
                    <span class="game-code">2</span>
                </p>
            </div>
        </div>
        <div class="game-section">
            <div class="section-header">
                已投
            </div>
            <div class="section-content">
                <div class="two-grid">
                    <div class="left-grid">
                        冠军 单 <span class="text-danger"> 100 元</span>
                    </div>
                    <div class="right-grid">
                        冠军 单 <span class="text-danger"> 100 元</span>
                    </div>
                </div>
                <div class="two-grid">
                    <div class="left-grid">
                        冠军 单 <span class="text-danger"> 100 元</span>
                    </div>
                    <div class="right-grid">
                        冠军 单 <span class="text-danger"> 100 元</span>
                    </div>
                </div>
                <div class="two-grid">
                    <div class="left-grid">
                        冠军 单 <span class="text-danger"> 100 元</span>
                    </div>
                    <div class="right-grid">
                        冠军 单 <span class="text-danger"> 100 元</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="game-section">
            <div class="section-header">
                近期走势
            </div>
            <div class="section-content">
                <div class="trend-list-item">
                    <div class="trend-item-header">2016-01-02 130期</div>
                    <div class="trend-item-content">
                        <div class="game-code-wrap">
                            <span class="game-code">2</span>
                            <span class="game-code">2</span>
                            <span class="game-code">2</span>
                            <span class="game-code">2</span>
                            <span class="game-code">2</span>
                            <span class="game-code">2</span>
                            <span class="game-code">2</span>
                            <span class="game-code">2</span>
                            <span class="game-code">2</span>
                            <span class="game-code">2</span>
                        </div>
                        <div>
                            冠军和 13，大，单;1-5龙虎 : 虎，龙，虎，龙，龙
                        </div>
                    </div>
                </div>
                <div class="trend-list-item">
                    <div class="trend-item-header">2016-01-02 130期</div>
                    <div class="trend-item-content">
                        <div class="game-code-wrap">
                            <span class="game-code">2</span>
                            <span class="game-code">2</span>
                            <span class="game-code">2</span>
                            <span class="game-code">2</span>
                            <span class="game-code">2</span>
                            <span class="game-code">2</span>
                            <span class="game-code">2</span>
                            <span class="game-code">2</span>
                            <span class="game-code">2</span>
                            <span class="game-code">2</span>
                        </div>
                        <div>
                            冠军和 13，大，单;1-5龙虎 : 虎，龙，虎，龙，龙
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- right wrap -->
    <div class="right-wrap">
        <div class="game-section">
            <div class="section-header">
                <span class="split-title">玩法</span>
                <span class="game-type">特码</span>
                <span class="game-type active">正码</span>
                <span class="game-type">半波</span>
                <span class="game-type">一肖/尾数</span>
                <span class="game-type">特码生肖</span>
            </div>
            <div class="section-content">
                <div class="play-section layout-2">
                    <div class="play-header">
                        特码
                    </div>
                    <div class="play-content">
                        <div class="play-item">
                            <div class="play-title">
                                <span class="game-code">1</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span class="game-code">1</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span class="game-code">1</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span class="game-code">1</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span class="game-code">1</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                        </div>
                        <div class="play-item">
                            <div class="play-title">
                                <span class="game-code">1</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span class="game-code">1</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span class="game-code">1</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span class="game-code">1</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span class="game-code">1</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                        </div>
                        <div class="play-item">
                            <div class="play-title">
                                <span class="game-code">1</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span class="game-code">1</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span class="game-code">1</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span class="game-code">1</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span class="game-code">1</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                        </div>
                        <div class="play-item">
                            <div class="play-title">
                                <span class="game-code">1</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span class="game-code">1</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span class="game-code">1</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span class="game-code">1</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span class="game-code">1</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="play-section layout-2">
                    <div class="play-header">
                        正码
                    </div>
                    <div class="play-content">
                        <div class="play-item">
                            <div class="play-title">
                                <span class="game-code">1</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span class="game-code">1</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span class="game-code">1</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span class="game-code">1</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span class="game-code">1</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                        </div>
                        <div class="play-item">
                            <div class="play-title">
                                <span class="game-code">1</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span class="game-code">1</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span class="game-code">1</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span class="game-code">1</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span class="game-code">1</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                        </div>
                        <div class="play-item">
                            <div class="play-title">
                                <span class="game-code">1</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span class="game-code">1</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span class="game-code">1</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span class="game-code">1</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span class="game-code">1</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                        </div>
                        <div class="play-item">
                            <div class="play-title">
                                <span class="game-code">1</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span class="game-code">1</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span class="game-code">1</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span class="game-code">1</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span class="game-code">1</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="play-section layout-2">
                    <div class="play-header">
                        特码双面
                    </div>
                    <div class="play-content">
                        <div class="play-item">
                            <div class="play-title">
                                <span>单</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span>双</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span>单</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span>单</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span>单</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                        </div>
                        <div class="play-item">
                            <div class="play-title">
                                <span>单</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span>单</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span>单</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span>单</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span>单</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                        </div>
                        <div class="play-item">
                            <div class="play-title">
                                <span>单</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span>单</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span>单</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span>单</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span>单</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                        </div>
                        <div class="play-item">
                            <div class="play-title">
                                <span>单</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span>单</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span>单</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span>单</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span>单</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="play-section layout-3">
                    <div class="play-header">
                        特码生肖
                    </div>
                    <div class="play-content">
                        <div class="play-item">
                            <div class="play-title">
                                <span>牛 5.7</span>
                                <div>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                </div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span>牛 5.7</span>
                                <div>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                </div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                        </div>
                        <div class="play-item">
                            <div class="play-title">
                                <span>牛 5.7</span>
                                <div>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                </div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span>牛 5.7</span>
                                <div>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                </div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                        </div>
                        <div class="play-item">
                            <div class="play-title">
                                <span>牛 5.7</span>
                                <div>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                </div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span>牛 5.7</span>
                                <div>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                </div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                        </div>
                        <div class="play-item">
                            <div class="play-title">
                                <span>牛 5.7</span>
                                <div>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                </div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span>牛 5.7</span>
                                <div>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                </div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                        </div>
                        <div class="play-item">
                            <div class="play-title">
                                <span>牛 5.7</span>
                                <div>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                </div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span>牛 5.7</span>
                                <div>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                </div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                        </div>
                        <div class="play-item">
                            <div class="play-title">
                                <span>牛 5.7</span>
                                <div>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                </div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span>牛 5.7</span>
                                <div>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                </div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="play-section layout-4">
                    <div class="play-header">
                        半波
                    </div>
                    <div class="play-content">
                        <div class="play-item">
                            <div class="play-title">
                                <span>牛 5.7</span>
                                <div>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                </div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span>牛 5.7</span>
                                <div>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                </div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                        </div>
                        <div class="play-item">
                            <div class="play-title">
                                <span>牛 5.7</span>
                                <div>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                </div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span>牛 5.7</span>
                                <div>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                </div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                        </div>
                        <div class="play-item">
                            <div class="play-title">
                                <span>牛 5.7</span>
                                <div>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                </div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span>牛 5.7</span>
                                <div>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                </div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                        </div>
                        <div class="play-item">
                            <div class="play-title">
                                <span>牛 5.7</span>
                                <div>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                </div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span>牛 5.7</span>
                                <div>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                </div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                        </div>
                        <div class="play-item">
                            <div class="play-title">
                                <span>牛 5.7</span>
                                <div>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                </div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span>牛 5.7</span>
                                <div>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                </div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                        </div>
                        <div class="play-item">
                            <div class="play-title">
                                <span>牛 5.7</span>
                                <div>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                </div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span>牛 5.7</span>
                                <div>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                    <span class="game-code">1</span>
                                </div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-footer">
                <span class="reset-btn">重设</span>
                <span class="submit-btn">提交</span>
            </div>
        </div>
    </div>
</div>
<dribehance-footer></dribehance-footer>