<dribehance-header title="'六合彩'" back-action="'on'" active="'liuhecai'" user="user"></dribehance-header>
<div class="wrap">
    <!-- left wrap -->
    <div class="left-wrap">
        <div class="game-section">
            <div class="section-header">
                最新开奖 <span class="pull-right hover" ng-click="query_liuhecai()"><i class="fa fa-refresh" aria-hidden="true"></i></span>
            </div>
            <div class="section-content">
                <p>
                    <span class="text-white">第 </span>
                    <span class="text-primary"> {{liuhecai.qishu_next}}</span>
                    <span class="text-white">期，距离开奖时间</span>
                    <span class="text-primary">
                        <timer ng-if="liuhecai.day_seconds" interval="1000" countdown="liuhecai.day_seconds" finish-callback="callbackTimer.finished()">
                            {{days}}天{{hhours}}:{{mminutes}}:{{sseconds}}
                        </timer>
                        <span ng-if="!liuhecai.day_seconds">--:--</span>
                    </span>
                </p>
                <p ng-if="!liuhecai.waiting">
                    <span class="text-white">{{liuhecai.Result.XglhcData.datelinedate}} 第 {{liuhecai.Result.XglhcData.qishu}} 期开奖号码</span>
                </p>
                <p ng-if="liuhecai.waiting">
                    <span class="text-white">{{liuhecai.datelinedate}} 第 {{liuhecai.qishu_next}} 期开奖号码</span>
                </p>
                <p ng-if="liuhecai.waiting" class="waiting"><i class="fa fa-clock-o" aria-hidden="true"></i> 第 {{liuhecai.qishu_next}} 期正在开奖，请耐心等候...</p>
                <div ng-if="!liuhecai.waiting" class="justified">
                    <div class="liuhecai-cell">
                        <span class="game-code liuhecai-code-{{liuhecai.Result.XglhcData.n_01}}">{{parse_code(liuhecai.Result.XglhcData.n_01)}}</span>
                        <span class="block">{{parse_code(liuhecai.Result.XglhcData.n_01_str)}}</span>
                    </div>
                    <div class="liuhecai-cell">
                        <span class="game-code liuhecai-code-{{liuhecai.Result.XglhcData.n_02}}">{{parse_code(liuhecai.Result.XglhcData.n_02)}}</span>
                        <span class="block">{{parse_code(liuhecai.Result.XglhcData.n_02_str)}}</span>
                    </div>
                    <div class="liuhecai-cell">
                        <span class="game-code liuhecai-code-{{liuhecai.Result.XglhcData.n_03}}">{{parse_code(liuhecai.Result.XglhcData.n_03)}}</span>
                        <span class="block">{{parse_code(liuhecai.Result.XglhcData.n_03_str)}}</span>
                    </div>
                    <div class="liuhecai-cell">
                        <span class="game-code liuhecai-code-{{liuhecai.Result.XglhcData.n_04}}">{{parse_code(liuhecai.Result.XglhcData.n_04)}}</span>
                        <span class="block">{{parse_code(liuhecai.Result.XglhcData.n_04_str)}}</span>
                    </div>
                    <div class="liuhecai-cell">
                        <span class="game-code liuhecai-code-{{liuhecai.Result.XglhcData.n_05}}">{{parse_code(liuhecai.Result.XglhcData.n_05)}}</span>
                        <span class="block">{{parse_code(liuhecai.Result.XglhcData.n_05_str)}}</span>
                    </div>
                    <div class="liuhecai-cell">
                        <span class="game-code liuhecai-code-{{liuhecai.Result.XglhcData.n_06}}">{{parse_code(liuhecai.Result.XglhcData.n_06)}}</span>
                        <span class="block">{{parse_code(liuhecai.Result.XglhcData.n_06_str)}}</span>
                    </div>
                    <div class="liuhecai-cell">
                        <span class="text-white"> + </span>
                    </div>
                    <div class="liuhecai-cell">
                        <span class="game-code liuhecai-code-{{liuhecai.Result.XglhcData.n_07}}">{{parse_code(liuhecai.Result.XglhcData.n_07)}}</span>
                        <span class="block">{{parse_code(liuhecai.Result.XglhcData.n_07_str)}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="game-section" ng-if="kuaile.Result.XyftBjpkLogs.length>0">
            <div class="section-header">
                已投
            </div>
            <div class="section-content">
                <div class="two-grid">
                    <div ng-repeat="log in liuhecai.Result.XyftBjpkLogs">
                        <span>{{log.mingci}} {{log.haoma}} </span>
                        <span> {{log.money}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="game-section">
            <div class="section-header">
                近期走势
            </div>
            <div class="section-content">
                <div class="trend-list-item" ng-repeat="liuhecai_history in liuhecai_historys">
                    <div class="trend-item-header">{{liuhecai_history.qishu}}期</div>
                    <div class="trend-item-content">
                        <div class="game-code-wrap">
                            <div class="liuhecai-cell">
                                <span class="game-code liuhecai-code-{{liuhecai_history.n_01}}">{{parse_code(liuhecai_history.n_01)}}</span>
                                <span class="block">{{liuhecai_history.n_01_str}}</span>
                            </div>
                            <div class="liuhecai-cell">
                                <span class="game-code liuhecai-code-{{liuhecai_history.n_02}}">{{parse_code(liuhecai_history.n_02)}}</span>
                                <span class="block">{{liuhecai_history.n_02_str}}</span>
                            </div>
                            <div class="liuhecai-cell">
                                <span class="game-code liuhecai-code-{{liuhecai_history.n_03}}">{{parse_code(liuhecai_history.n_03)}}</span>
                                <span class="block">{{liuhecai_history.n_03_str}}</span>
                            </div>
                            <div class="liuhecai-cell">
                                <span class="game-code liuhecai-code-{{liuhecai_history.n_04}}">{{parse_code(liuhecai_history.n_04)}}</span>
                                <span class="block">{{liuhecai_history.n_04_str}}</span>
                            </div>
                            <div class="liuhecai-cell">
                                <span class="game-code liuhecai-code-{{liuhecai_history.n_05}}">{{parse_code(liuhecai_history.n_05)}}</span>
                                <span class="block">{{liuhecai_history.n_05_str}}</span>
                            </div>
                            <div class="liuhecai-cell">
                                <span class="game-code liuhecai-code-{{liuhecai_history.n_06}}">{{parse_code(liuhecai_history.n_06)}}</span>
                                <span class="block">{{liuhecai_history.n_06_str}}</span>
                            </div>
                            <div class="liuhecai-cell">
                                <span>+</span>
                            </div>
                            <div class="liuhecai-cell">
                                <span class="game-code liuhecai-code-{{liuhecai_history.n_07}}">{{parse_code(liuhecai_history.n_07)}}</span>
                                <span class="block">{{liuhecai_history.n_07_str}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="load-more hover ng-binding" ng-click="loadMore()">{{page.message}}</div>
            </div>
        </div>
    </div>
    <!-- right wrap -->
    <div class="right-wrap" ng-controller="fillinorderLiuhecaiController">
        <div class="game-section">
            <div class="section-header">
                <span class="split-title">玩法</span>
                <span class="game-type" ng-class="{'active':input.game_type.label=='特码'}" ng-click="choose_game_type(0)">特码</span>
                <span class="game-type" ng-class="{'active':input.game_type.label=='正码'}" ng-click="choose_game_type(1)">正码</span>
                <span class="game-type" ng-class="{'active':input.game_type.label=='半波'}" ng-click="choose_game_type(2)">半波</span>
                <span class="game-type" ng-class="{'active':input.game_type.label=='一肖/尾数'}" ng-click="choose_game_type(3)">一肖/尾数</span>
                <span class="game-type" ng-class="{'active':input.game_type.label=='特码生肖'}" ng-click="choose_game_type(4)">特码生肖</span>
                <span class="game-type" ng-class="{'active':input.game_type.label=='三中三'}" ng-click="choose_game_type(5)">三中三</span>
                <span class="game-type" ng-class="{'active':input.game_type.label=='三中二'}" ng-click="choose_game_type(6)">三中二</span>
                <span class="game-type" ng-class="{'active':input.game_type.label=='二中二'}" ng-click="choose_game_type(7)">二中二</span>
            </div>
            <div class="section-content">
                <div class="play-section layout-2" ng-repeat="game in games" ng-if="input.game_type.label=='特码'||input.game_type.label=='正码'">
                    <div class="play-header">
                        {{game.name}}
                    </div>
                    <div class="play-content">
                        <div class="play-item" ng-repeat="g in game.oIndexBeans|filter:{flag:'1'}" ng-class="{'selected':g.betted}">
                            <div class="play-title">
                                <span class="game-code liuhecai-code-{{g.name}}">{{g.name}}</span>
                                <div>{{g.rate}}</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" ng-model="g.betting_money" placeholder="金额">
                            </div>
                        </div>
                        <p class="clearfix"></p>
                        <div class="line"></div>
                        <div class="play-item" ng-repeat="g in game.oIndexBeans|filter:{flag:'2'}" ng-class="{'selected':g.betted}">
                            <div class="play-title">
                                <span class="label">{{g.name}}</span>
                                <div>{{g.rate}}</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" ng-model="g.betting_money" placeholder="金额">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="play-section layout-3" ng-repeat="game in games" ng-if="input.game_type.label=='半波'">
                    <div class="play-header">
                        {{game.name}}
                    </div>
                    <div class="play-content">
                        <div class="play-item" ng-repeat="g in game.oIndexBeans">
                            <div class="play-title">
                                <span class="label">{{g.name}}</span><span> {{g.rate}}</span>
                                <div>
                                    <span class="game-code liuhecai-code-{{code}}" ng-repeat="code in parse_code_1(g.number) track by $index">{{parse_code(code)}}</span>
                                </div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" ng-model="g.betting_money" placeholder="金额">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="play-section layout-4" ng-repeat="game in games" ng-if="input.game_type.label=='一肖/尾数'||input.game_type.label=='特码生肖'">
                    <div class="play-header">
                        {{game.name}}
                    </div>
                    <div class="play-content">
                        <div class="play-item" ng-repeat="g in game.oIndexBeans|filter:{flag:1}">
                            <div class="play-title">
                                <span class="label">{{g.name}}</span><span> {{g.rate}}</span>
                                <div>
                                    <span class="game-code liuhecai-code-{{code}}" ng-repeat="code in parse_code_1(g.number) track by $index">{{parse_code(code)}}</span>
                                </div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" ng-model="g.betting_money" placeholder="金额">
                            </div>
                        </div>
                        <p class="clearfix"></p>
                        <div class="line"></div>
                        <div class="play-item flag-2" ng-repeat="g in game.oIndexBeans|filter:{flag:2}">
                            <div class="play-title">
                                <span class="label">{{g.name}}</span>
                                <div>{{g.rate}}</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" ng-model="g.betting_money" placeholder="金额">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="play-section layout-5" ng-repeat="game in games" ng-if="input.game_type.label=='三中三'||input.game_type.label=='三中二'||input.game_type.label=='二中二'">
                    <div class="play-header">
                        {{game.name}} (<span class="text-danger">赔率：{{game.oIndexBeans[0].rate}}</span>)
                    </div>
                    <div class="play-content">
                        <div class="play-item" ng-repeat="carom in caroms">
                            <div class="play-title">
                                <div class="remove-icon" ng-click="remove(carom)"></div>
                                <div class="betting-number">
                                    <span class="game-code liuhecai-code-{{code.number}}" ng-repeat="code in carom.numbers">{{parse_code(code.number)}}</span>
                                </div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" ng-model="carom.money" placeholder="金额">
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="line"></div>
                    <div class="layout-6" ng-if="is_board_open">
                        <div class="title hover" ng-click="toggle_board()">请选择连中号码</div>
                        <div class="line"></div>
                        <div class="code-item-list">
                            <div class="code-item" ng-repeat="code in game_code" ng-click="check(code)" ng-class="{'check':code.check}">
                                <span class="game-code liuhecai-code-{{code.number}}">{{parse_code(code.number)}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="layout-7" ng-click="toggle_board()">
                        <span ng-if="is_board_open">收起号码选择</span>
                        <span ng-if="!is_board_open">点击选择连中号码</span>
                    </div>
                </div>
            </div>
            <div class="section-footer">
                <span class="reset-btn" ng-click="resetForm()">重设</span>
                <span class="submit-btn" ng-click="ajaxForm()">提交</span>
            </div>
        </div>
    </div>
</div>
<dribehance-footer></dribehance-footer>
