<dribehance-header title="'修改密码'" back-action="'on'"></dribehance-header>
<div class="wrap">
    <div class="me-section">
        <div class="me-section-header">
            <div class="qrcode">
                <imageview data-rate="1" src="'../images/logo.png'"></imageview>
            </div>
            <span class="block">我们将会发送验证码到你注册的账号 137****2373</span>
            <p></p>
            <span class="block text-danger">点击获取验证码</span>
        </div>
        <div class="list-group">
            <div class="list-group-item">
                验证码
                <div class="game-list-input pull-right">
                    <input type="text" name="sms_code" ng-model="input.sms_code" placeholder="请输入">
                </div>
            </div>
            <div class="list-group-item">
                新密码
                <div class="game-list-input pull-right">
                    <input type="password" name="password" ng-model="input.password" placeholder="请输入">
                </div>
            </div>
            <div class="list-group-item">
                确认新密码
                <div class="game-list-input pull-right">
                    <input type="password" name="password_1" ng-model="input.password_1" placeholder="请输入">
                </div>
            </div>
            <div class="logout-btn">
                修改密码
            </div>
        </div>
    </div>
</div>
