<dribehance-header title="'充值'" back-action="'on'" user="user"></dribehance-header>
<div class="wrap">
    <user-sidebar active="'online_charge'" user="user"></user-sidebar>
    <!-- right-wrap -->
    <div class="right-wrap">
        <div class="game-section">
            <div class="section-header">
                在线充值
            </div>
            <div class="section-content">
                <div class="me-section">
                    <div class="me-section-header">
                        <span class="block">账号收款二维码</span>
                        <span class="block">请先转账后提交</span>
                        <div class="qrcode">
                            <imageview data-rate="1" src="staticImageUrl + charge_info.getmoney_code"></imageview>
                        </div>
                        <span class="block">收款账号：{{charge_info.getmoney_account_number}}</span>
                        <span class="block">账号名称：{{charge_info.getmoney_account_name}}</span>
                    </div>
                </div>
                <p></p>
                <div class="signup-input">
                    <div class="input-title">需充值账号：</div>
                    <div>
                        <input type="text" placeholder="需充值账号" ng-model="input.account">
                    </div>
                    <div class="tips">
                        * 请如实填写本系统注册的账号
                    </div>
                </div>
                <div class="signup-input">
                    <div class="input-title">支付账号：</div>
                    <div>
                        <input type="text" placeholder="支付账号" ng-model="input.pay_account">
                    </div>
                    <div class="tips">
                        * 请如实填写支付账号
                    </div>
                </div>
                <div class="signup-input">
                    <div class="input-title">支付金额：</div>
                    <div>
                        <input type="text" placeholder="支付金额" ng-model="input.money">
                    </div>
                    <div class="tips">
                        * 支付金额
                    </div>
                </div>
            </div>
            <div class="section-footer">
                <!-- <span class="reset-btn">重置</span> -->
                <span class="submit-btn" ng-click="ajaxForm()">充值</span>
            </div>
        </div>
    </div>
</div>
<dribehance-footer></dribehance-footer>