<dribehance-header title="'充值'" back-action="'on'" user="user"></dribehance-header>
<div class="wrap">
    <user-sidebar active="'online_charge'" user="user"></user-sidebar>
    <!-- right-wrap -->
    <div class="right-wrap">
        <div class="game-section">
            <div class="section-header">
                在线充值
            </div>
            <div class="section-content">
                <div class="me-section">
                    <div class="me-section-header">
                        <div class="payment-qrcode">
                            <div>
                                <div class="qrcode">
                                    <imageview data-rate="852/1280" src="staticImageUrl + charge_info.getmoney_code" center-only></imageview>
                                </div>
                                <p></p>
                                <span class="block text-center">支付宝：{{charge_info.getmoney_account_number}}</span>
                                <span class="block text-center">账号名称：{{charge_info.getmoney_account_name}}</span>
                            </div>
                            <div>
                                <div class="qrcode">
                                    <imageview data-rate="852/1280" src="staticImageUrl + charge_info.getmoney_weixincode" center-only></imageview>
                                </div>
                                <p></p>
                                <span class="block text-center">微信：{{charge_info.getmoney_weixin_account_number}}</span>
                                <span class="block text-center">账号名称：{{charge_info.getmoney_weixin_account_name}}</span>
                            </div>f
                        </div>
                    </div>
                </div>
                <p></p>
                <div class="signup-input">
                    <div class="input-title">充值方式：</div>
                    <div>
                        <div class="game-select">
                            <select name="" id="" ng-model="input.type">
                                <option value="1">支付宝</option>
                                <option value="2">微信</option>
                            </select>
                        </div>
                    </div>
                    <div class="tips">
                        * 请选择支付宝或者微信
                    </div>
                </div>
                <div class="signup-input">
                    <div class="input-title">需充值账号：</div>
                    <div>
                        <input type="text" placeholder="需充值账号" ng-model="input.account">
                    </div>
                    <div class="tips">
                        * 请如实填写本系统注册的账号
                    </div>
                </div>
                <div class="signup-input">
                    <div class="input-title">支付账号：</div>
                    <div>
                        <input type="text" placeholder="支付账号" ng-model="input.pay_account">
                    </div>
                    <div class="tips">
                        * 请如实填写支付账号
                    </div>
                </div>
                <div class="signup-input">
                    <div class="input-title">支付金额：</div>
                    <div>
                        <input type="text" placeholder="支付金额" ng-model="input.money">
                    </div>
                    <div class="tips">
                        * 支付金额
                    </div>
                </div>
            </div>
            <div class="section-footer">
                <!-- <span class="reset-btn">重置</span> -->
                <span class="submit-btn" ng-click="ajaxForm()">充值</span>
            </div>
        </div>
    </div>
</div>
<dribehance-footer></dribehance-footer>
