<dribehance-header title="'我的注单'" back-action="'on'"></dribehance-header>
<div class="bill-table">
    <div class="table-header ">
        <div class="table-cell">
            彩种
        </div>
        <div class="table-cell">
            类型
        </div>
        <div class="table-cell">
            金额
        </div>
        <div class="table-cell">
            结果
        </div>
    </div>
    <div class="table-row">
        <div class="table-cell">
            广东快乐10分
        </div>
        <div class="table-cell">
            第一球
        </div>
        <div class="table-cell">
            100.77
        </div>
        <div class="table-cell" ng-click="show()">
            0.98
            <i class="fa fa-search" aria-hidden="true"></i>
        </div>
    </div>
    <div class="table-row">
        <div class="table-cell">
            广东快乐10分
        </div>
        <div class="table-cell">
            第一球
        </div>
        <div class="table-cell">
            100.77
        </div>
        <div class="table-cell" ng-click="show()">
            0.98
            <i class="fa fa-search" aria-hidden="true"></i>
        </div>
    </div>
    <div class="table-row">
        <div class="table-cell">
            广东快乐10分
        </div>
        <div class="table-cell">
            第一球
        </div>
        <div class="table-cell">
            100.77
        </div>
        <div class="table-cell" ng-click="show()">
            0.98
            <i class="fa fa-search" aria-hidden="true"></i>
        </div>
    </div>
    <div class="table-row">
        <div class="table-cell">
            广东快乐10分
        </div>
        <div class="table-cell">
            第一球
        </div>
        <div class="table-cell">
            100.77
        </div>
        <div class="table-cell" ng-click="show()">
            0.98
            <i class="fa fa-search" aria-hidden="true"></i>
        </div>
    </div>
    <div class="table-row">
        <div class="table-cell">
            广东快乐10分
        </div>
        <div class="table-cell">
            第一球
        </div>
        <div class="table-cell">
            100.77
        </div>
        <div class="table-cell" ng-click="show()">
            0.98
            <i class="fa fa-search" aria-hidden="true"></i>
        </div>
    </div>
    <div class="table-row">
        <div class="table-cell">
            广东快乐10分
        </div>
        <div class="table-cell">
            第一球
        </div>
        <div class="table-cell">
            100.77
        </div>
        <div class="table-cell" ng-click="show()">
            0.98
            <i class="fa fa-search" aria-hidden="true"></i>
        </div>
    </div>
    <div class="table-row">
        <div class="table-cell">
            广东快乐10分
        </div>
        <div class="table-cell">
            第一球
        </div>
        <div class="table-cell">
            100.77
        </div>
        <div class="table-cell" ng-click="show()">
            0.98
            <i class="fa fa-search" aria-hidden="true"></i>
        </div>
    </div>
    <div class="table-row">
        <div class="table-cell">
            广东快乐10分
        </div>
        <div class="table-cell">
            第一球
        </div>
        <div class="table-cell">
            100.77
        </div>
        <div class="table-cell" ng-click="show()">
            0.98
            <i class="fa fa-search" aria-hidden="true"></i>
        </div>
    </div>
    <div class="table-row">
        <div class="table-cell">
            广东快乐10分
        </div>
        <div class="table-cell">
            第一球
        </div>
        <div class="table-cell">
            100.77
        </div>
        <div class="table-cell" ng-click="show()">
            0.98
            <i class="fa fa-search" aria-hidden="true"></i>
        </div>
    </div>
    <div class="table-row">
        <div class="table-cell">
            广东快乐10分
        </div>
        <div class="table-cell">
            第一球
        </div>
        <div class="table-cell">
            100.77
        </div>
        <div class="table-cell" ng-click="show()">
            0.98
            <i class="fa fa-search" aria-hidden="true"></i>
        </div>
    </div>
    <div class="table-row">
        <div class="table-cell">
            广东快乐10分
        </div>
        <div class="table-cell">
            第一球
        </div>
        <div class="table-cell">
            100.77
        </div>
        <div class="table-cell" ng-click="show()">
            0.98
            <i class="fa fa-search" aria-hidden="true"></i>
        </div>
    </div>
</div>
<div class="overlay" ng-if="popup_state == 'open'">
    <div class="order-popup">
        <div class="close" ng-click="close()"></div>
        <div class="order-popup-header">注单详情</div>
        <div class="order-popup-item">
            <span class="left">注单时间</span>
            <span>2016-11-08 21:25:58</span>
        </div>
        <div class="order-popup-item">
            <span class="left">彩种</span>
            <span>六合彩</span>
        </div>
        <div class="order-popup-item">
            <span class="left">内容</span>
            <span>特码 24</span>
        </div>
        <div class="order-popup-item">
            <span class="left">期数</span>
            <span>2.00</span>
        </div>
        <div class="order-popup-item">
            <span class="left">净利润</span>
            <span>-2.00</span>
        </div>
        <div class="order-popup-item">
            <span class="left">反水金额</span>
            <span>0.00</span>
        </div>
        <div class="order-popup-item">
            <span class="left">有效投注</span>
            <span>2.00</span>
        </div>
    </div>
</div>