<dribehance-header title="'推荐获利列表'" back-action="'on'"></dribehance-header>
<div class="wrap">
    <user-sidebar active="'recommand_income'"></user-sidebar>
    <!-- right wrap -->
    <div class="right-wrap">
        <div class="game-section">
            <div class="section-header">
                推荐人获利列表
            </div>
            <div class="section-content">
                <div class="me-section">
                    <div class="me-section-header">
                        <span class="block">累计推荐获利</span>
                        <span class="balance">5000.00</span>
                    </div>
                    <div class="recommandors">
                        <div class="recommandor-header">
                            <div class="recommandor-cell">
                                时间
                            </div>
                            <div class="recommandor-cell">
                                金额
                            </div>
                        </div>
                        <div class="recommandor-row">
                            <div class="recommandor-cell">
                                2016-03-06 15:30:20
                            </div>
                            <div class="recommandor-cell">
                                100.77
                            </div>
                        </div>
                        <div class="recommandor-row">
                            <div class="recommandor-cell">
                                2016-03-06 15:30:20
                            </div>
                            <div class="recommandor-cell">
                                100.77
                            </div>
                        </div>
                        <div class="recommandor-row">
                            <div class="recommandor-cell">
                                2016-03-06 15:30:20
                            </div>
                            <div class="recommandor-cell">
                                100.77
                            </div>
                        </div>
                        <div class="recommandor-row">
                            <div class="recommandor-cell">
                                2016-03-06 15:30:20
                            </div>
                            <div class="recommandor-cell">
                                100.77
                            </div>
                        </div>
                        <div class="recommandor-row">
                            <div class="recommandor-cell">
                                2016-03-06 15:30:20
                            </div>
                            <div class="recommandor-cell">
                                100.77
                            </div>
                        </div>
                        <div class="recommandor-row">
                            <div class="recommandor-cell">
                                2016-03-06 15:30:20
                            </div>
                            <div class="recommandor-cell">
                                100.77
                            </div>
                        </div>
                        <div class="recommandor-row">
                            <div class="recommandor-cell">
                                2016-03-06 15:30:20
                            </div>
                            <div class="recommandor-cell">
                                100.77
                            </div>
                        </div>
                        <div class="recommandor-row">
                            <div class="recommandor-cell">
                                2016-03-06 15:30:20
                            </div>
                            <div class="recommandor-cell">
                                100.77
                            </div>
                        </div>
                        <div class="recommandor-row">
                            <div class="recommandor-cell">
                                2016-03-06 15:30:20
                            </div>
                            <div class="recommandor-cell">
                                100.77
                            </div>
                        </div>
                        <div class="recommandor-row">
                            <div class="recommandor-cell">
                                2016-03-06 15:30:20
                            </div>
                            <div class="recommandor-cell">
                                100.77
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
