<dribehance-header title="'北京赛车'" back-action="'on'" active="'saiche'" user="user"></dribehance-header>
<div class="wrap">
    <!-- left wrap -->
    <div class="left-wrap">
        <div class="game-section">
            <div class="section-header">
                最新开奖
            </div>
            <div class="section-content">
                <p>
                    <span class="text-white">第 </span>
                    <span class="text-primary"> {{saiche.qishu_next}}</span>
                    <span class="text-white">距离开奖时间</span>
                    <span class="text-primary">
                        <timer ng-if="saiche.day_seconds" max-time-unit="'minute'" interval="1000" countdown="saiche.day_seconds" finish-callback="callbackTimer.finished()">
                            {{mminutes}}:{{sseconds}}
                        </timer>
                        <span ng-if="!saiche.day_seconds">--:--</span>
                    </span>
                </p>
                <p ng-if="!saiche.waiting">
                    <span class="text-white">{{saiche.Result.BjpksData.datelinedate}} 第 <span class="text-primary">{{saiche.Result.BjpksData.qishu}}</span> 期开奖号码</span>
                </p>
                <p ng-if="saiche.waiting">
                    <span class="text-white">{{saiche.datelinedate}} 第 <span class="text-primary">{{saiche.qishu_next}}</span> 期开奖号码</span>
                </p>
                <p ng-if="saiche.waiting" class="waiting"><i class="fa fa-clock-o" aria-hidden="true"></i> 第 {{saiche.qishu_next}} 期正在开奖，请耐心等候...</p>
                <p ng-if="!saiche.waiting">
                    <span class="game-code feiting-code-{{saiche.Result.BjpksData.n_01}}">{{saiche.Result.BjpksData.n_01}}</span>
                    <span class="game-code feiting-code-{{saiche.Result.BjpksData.n_02}}">{{saiche.Result.BjpksData.n_02}}</span>
                    <span class="game-code feiting-code-{{saiche.Result.BjpksData.n_03}}">{{saiche.Result.BjpksData.n_03}}</span>
                    <span class="game-code feiting-code-{{saiche.Result.BjpksData.n_04}}">{{saiche.Result.BjpksData.n_04}}</span>
                    <span class="game-code feiting-code-{{saiche.Result.BjpksData.n_05}}">{{saiche.Result.BjpksData.n_05}}</span>
                    <span class="game-code feiting-code-{{saiche.Result.BjpksData.n_06}}">{{saiche.Result.BjpksData.n_06}}</span>
                    <span class="game-code feiting-code-{{saiche.Result.BjpksData.n_07}}">{{saiche.Result.BjpksData.n_07}}</span>
                    <span class="game-code feiting-code-{{saiche.Result.BjpksData.n_08}}">{{saiche.Result.BjpksData.n_08}}</span>
                    <span class="game-code feiting-code-{{saiche.Result.BjpksData.n_09}}">{{saiche.Result.BjpksData.n_09}}</span>
                    <span class="game-code feiting-code-{{saiche.Result.BjpksData.n_10}}">{{saiche.Result.BjpksData.n_10}}</span>
                </p>
            </div>
        </div>
        <div class="game-section" ng-if="saiche.Result.XyftBjpkLogs.length>0">
            <div class="section-header">
                已投
            </div>
            <div class="section-content">
                <div class="two-grid">
                    <div ng-repeat="log in saiche.Result.XyftBjpkLogs">
                        <span>{{log.mingci}} {{log.haoma}} </span>
                        <span class="text-danger"> {{log.money}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="game-section">
            <div class="section-header">
                近期走势
            </div>
            <div class="section-content">
                <div class="trend-list-item" ng-repeat="saiche_history in saiche_historys">
                    <div class="trend-item-header">{{saiche_history.datelinedate}} {{saiche_history.qishu}}期</div>
                    <div class="trend-item-content">
                        <div class="game-code-wrap">
                            <span class="game-code feiting-code-{{saiche_history.n_01}}">{{saiche_history.n_01}}</span>
                            <span class="game-code feiting-code-{{saiche_history.n_02}}">{{saiche_history.n_02}}</span>
                            <span class="game-code feiting-code-{{saiche_history.n_03}}">{{saiche_history.n_03}}</span>
                            <span class="game-code feiting-code-{{saiche_history.n_04}}">{{saiche_history.n_04}}</span>
                            <span class="game-code feiting-code-{{saiche_history.n_05}}">{{saiche_history.n_05}}</span>
                            <span class="game-code feiting-code-{{saiche_history.n_06}}">{{saiche_history.n_06}}</span>
                            <span class="game-code feiting-code-{{saiche_history.n_07}}">{{saiche_history.n_07}}</span>
                            <span class="game-code feiting-code-{{saiche_history.n_08}}">{{saiche_history.n_08}}</span>
                            <span class="game-code feiting-code-{{saiche_history.n_09}}">{{saiche_history.n_09}}</span>
                            <span class="game-code feiting-code-{{saiche_history.n_10}}">{{saiche_history.n_10}}</span>
                        </div>
                        <div>
                            {{saiche_history.bjpksdata_info}}
                        </div>
                    </div>
                </div>
                <div class="load-more hover" ng-click="loadMore()">{{page.message}}</div>
            </div>
        </div>
    </div>
    <!-- right wrap -->
    <div class="right-wrap">
        <div class="game-section">
            <div class="section-header">
                <span class="split-title">玩法</span>
                <span class="game-type">双面</span>
                <span class="game-type active">数字盘</span>
            </div>
            <div class="section-content">
                <div class="play-section layout-1">
                    <div class="play-header">
                        冠军
                    </div>
                    <div class="play-content">
                        <div class="play-item">
                            <div class="play-title">
                                单 1.97
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="输入金额">
                            </div>
                        </div>
                        <div class="play-item">
                            <div class="play-title">
                                双 1.97
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="输入金额">
                            </div>
                        </div>
                        <div class="play-item">
                            <div class="play-title">
                                大 1.97
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="输入金额">
                            </div>
                        </div>
                        <div class="play-item">
                            <div class="play-title">
                                小 1.97
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="输入金额">
                            </div>
                        </div>
                        <div class="play-item">
                            <div class="play-title">
                                龙 1.97
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="输入金额">
                            </div>
                        </div>
                        <div class="play-item">
                            <div class="play-title">
                                虎 1.97
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="输入金额">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="play-section layout-1">
                    <div class="play-header">
                        亚军
                    </div>
                    <div class="play-content">
                        <div class="play-item">
                            <div class="play-title">
                                单 1.97
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="输入金额">
                            </div>
                        </div>
                        <div class="play-item">
                            <div class="play-title">
                                双 1.97
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="输入金额">
                            </div>
                        </div>
                        <div class="play-item">
                            <div class="play-title">
                                大 1.97
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="输入金额">
                            </div>
                        </div>
                        <div class="play-item">
                            <div class="play-title">
                                小 1.97
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="输入金额">
                            </div>
                        </div>
                        <div class="play-item">
                            <div class="play-title">
                                龙 1.97
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="输入金额">
                            </div>
                        </div>
                        <div class="play-item">
                            <div class="play-title">
                                虎 1.97
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="输入金额">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="play-section layout-1">
                    <div class="play-header">
                        季军
                    </div>
                    <div class="play-content">
                        <div class="play-item">
                            <div class="play-title">
                                单 1.97
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="输入金额">
                            </div>
                        </div>
                        <div class="play-item">
                            <div class="play-title">
                                双 1.97
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="输入金额">
                            </div>
                        </div>
                        <div class="play-item">
                            <div class="play-title">
                                大 1.97
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="输入金额">
                            </div>
                        </div>
                        <div class="play-item">
                            <div class="play-title">
                                小 1.97
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="输入金额">
                            </div>
                        </div>
                        <div class="play-item">
                            <div class="play-title">
                                龙 1.97
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="输入金额">
                            </div>
                        </div>
                        <div class="play-item">
                            <div class="play-title">
                                虎 1.97
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="输入金额">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="play-section layout-2">
                    <div class="play-header">
                        季军
                    </div>
                    <div class="play-content">
                        <div class="play-item">
                            <div class="play-title">
                                <span class="game-code">1</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span class="game-code">1</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span class="game-code">1</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span class="game-code">1</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span class="game-code">1</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                        </div>
                        <div class="play-item">
                            <div class="play-title">
                                <span class="game-code">1</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span class="game-code">1</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span class="game-code">1</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span class="game-code">1</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span class="game-code">1</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="play-section layout-2">
                    <div class="play-header">
                        季军
                    </div>
                    <div class="play-content">
                        <div class="play-item">
                            <div class="play-title">
                                <span class="game-code">1</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span class="game-code">1</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span class="game-code">1</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span class="game-code">1</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span class="game-code">1</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                        </div>
                        <div class="play-item">
                            <div class="play-title">
                                <span class="game-code">1</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span class="game-code">1</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span class="game-code">1</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span class="game-code">1</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span class="game-code">1</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="play-section layout-2">
                    <div class="play-header">
                        季军
                    </div>
                    <div class="play-content">
                        <div class="play-item">
                            <div class="play-title">
                                <span class="game-code">1</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span class="game-code">1</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span class="game-code">1</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span class="game-code">1</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span class="game-code">1</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                        </div>
                        <div class="play-item">
                            <div class="play-title">
                                <span class="game-code">1</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span class="game-code">1</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span class="game-code">1</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span class="game-code">1</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                            <div class="play-title">
                                <span class="game-code">1</span>
                                <div>1.97</div>
                            </div>
                            <div class="play-input">
                                <input type="number" min="0" placeholder="金额">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-footer">
                <span class="reset-btn" ng-click="resetForm()">重设</span>
                <span class="submit-btn" ng-click="ajaxForm()">提交</span>
            </div>
        </div>
    </div>
</div>
<dribehance-footer></dribehance-footer>
