<dribehance-header title="'奖品详情'" back-action="'on'"></dribehance-header>
<div>
	<imageview data-rate="750/256" src="'../images/example_1.png'" center-only></imageview>
</div>
<div class="wrap bg-white">
    <div class="product-meta">
        <span class="block">宝马X4 进口</span>
        <span class="text-danger">$490</span>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi unde repellendus illum deserunt dolorem fuga veritatis harum fugiat, beatae ea a. Quae id corporis eaque, esse labore iste sunt consectetur.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi unde repellendus illum deserunt dolorem fuga veritatis harum fugiat, beatae ea a. Quae id corporis eaque, esse labore iste sunt consectetur.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi unde repellendus illum deserunt dolorem fuga veritatis harum fugiat, beatae ea a. Quae id corporis eaque, esse labore iste sunt consectetur.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi unde repellendus illum deserunt dolorem fuga veritatis harum fugiat, beatae ea a. Quae id corporis eaque, esse labore iste sunt consectetur.</p>
</div>
<div style="height:48px;" class="bg-white"></div>
<div class="detail-footer justified" ng-click="go('exchange')">
    <span class="reset-btn">兑换奖品</span>
</div>
<div style="position: fixed;top:0;left: 0;right:0;bottom: 0;background-color: white;z-index: -1"></div>
