<div class="header" ng-controller="headerController">
	<div class="wrap">
		<div class="logo"></div>
		<div class="welcome-title"></div>
		<div class="top-right-section">
			<div class="hotline"></div>
			<form ng-submit="ajaxForm()" name="signinForm" ng-if="!login">
				<div class="game-input">
					<input type="text" ng-model="input.username" placeholder="账号" autocomplete="off">
				</div>
				<div class="game-input">
					<input type="password" ng-model="input.password" placeholder="密码" autocomplete="off">
				</div>
				<button type="submit" class="signin-btn" ng-click="signin()"></button>
				<a ng-href="#/signup" class="signup-btn"></a>
			</form>
			<div class="top-nav" ng-if="login">
				<a ng-href="#/bills">个人中心</a>
				<a ng-href="#/orders">注单查询</a>
				<span>当前账户余额：0.00， <span class="hover" ng-click="logout()">退出登录</span></span>
			</div>
		</div>
		<div class="nav">
			<a ng-href="#/index" ng-class="{'active':active =='index'}">
				<span>首页</span>
				<span class="en">Home</span>
			</a>
			<a ng-href="#/saiche" ng-class="{'active':active =='saiche'}">
				<span>北京赛车</span>
				<span class="en">Beijing pk10</span>
			</a>
			<a ng-href="#/feiting" ng-class="{'active':active =='feiting'}">
				<span>幸运飞艇</span>
				<span class="en">Lottery ship</span>
			</a>
			<a ng-href="#/kuaile" ng-class="{'active':active =='kuaile'}">
				<span>广东快乐10分</span>
				<span class="en">Lottery gd10</span>
			</a>
			<a ng-href="#/liuhecai" ng-class="{'active':active =='liuhecai'}">
				<span>六合彩</span>
				<span class="en">MarSix</span>
			</a>
		</div>
	</div>
</div>