<div ng-include="'../templates/header.html'"></div>
<div class="banner"></div>
<div class="game-list">
    <div class="game-wrap">
        <a href="" class="game-item">
            <img ng-src="../images/game_1.png" alt="">
        </a>
        <a href="" class="game-item">
            <img ng-src="../images/game_2.png" alt="">
        </a>
        <span class="game-item">
            <img ng-src="../images/logo_image.png" alt="">
        </span>
        <a href="" class="game-item">
            <img ng-src="../images/game_3.png" alt="">
        </a>
        <a href="" class="game-item">
            <img ng-src="../images/game_4.png" alt="">
        </a>
    </div>
</div>
<div ng-include="'../templates/footer.html'"></div>
