<dribehance-header title="'会员中心'"></dribehance-header>
<div class="wrap">
	<div class="me-section">
		<div class="me-section-header">
			<span class="block">账户余额</span>
			<span class="balance">5000.00</span>
			<span class="block">账户:13768132373</span>
		</div>
		<div class="list-group">
			<div class="list-group-item" ng-click="go('bills')">
				资金流水
				<i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
			</div>
			<div class="list-group-item" ng-click="go('orders')">
				我的注单
				<i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
			</div>
			<div class="list-group-item" ng-click="go('recommandors')">
				推荐人信息列表
				<i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
			</div>
			<div class="list-group-item" ng-click="go('recommand_income')">
				推荐获利列表
				<i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
			</div>
			<div class="list-group-item" ng-click="go('my_code')">
				我的推荐码
				<i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
			</div>
			<div class="list-group-item" ng-click="go('modify_password')">
				修改密码
				<i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
			</div>
			<div class="list-group-item" ng-click="go('modify_password')">
				修改提现密码
				<i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
			</div>
			<div class="list-group-item" ng-click="go('messages')">
				消息记录
				<i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
			</div>
		</div>
		<div class="logout-btn">
			退出登录
		</div>
	</div>
</div>
<div style="height:48px;"></div>
<dribehance-footer active="'me'"></dribehance-footer>