<dribehance-header title="'消息记录'" back-action="'on'" user="user"></dribehance-header>
<div class="wrap">
    <user-sidebar active="'messages'" user="user"></user-sidebar>
    <!-- right wrap -->
    <div class="right-wrap">
        <div class="game-section">
            <div class="section-header">
                消息记录
            </div>
            <div class="section-content">
                <div class="message-section" ng-repeat="message in messages">
                    <div class="message-section-header">
                        {{message.post_time}}
                    </div>
                    <div class="message-section-content">
                        {{message.content}}
                    </div>
                </div>
                <div class="load-more hover ng-binding" ng-click="loadMore()">{{page.message}}</div>
            </div>
        </div>
    </div>
</div>
<dribehance-footer></dribehance-footer>