<dribehance-header title="'修改提现密码'" back-action="'on'" user="user"></dribehance-header>
<div class="wrap">
    <user-sidebar active="'modify_trade_password'" user="user"></user-sidebar>
    <!-- right wrap -->
    <div class="right-wrap">
        <div class="game-section">
            <div class="section-header">
                修改提现密码
            </div>
            <div class="section-content">
                <div class="section-content">
                    <div class="signup-input">
                        <div class="input-title">原密码：</div>
                        <div>
                            <input type="password" placeholder="原密码" ng-model="input.password">
                        </div>
                        <div class="tips">
                            * 
                        </div>
                    </div>
                    <div class="signup-input">
                        <div class="input-title">新密码：</div>
                        <div>
                            <input type="password" placeholder="新密码" ng-model="input.password_1">
                        </div>
                        <div class="tips">
                            * 
                        </div>
                    </div>
                    <div class="signup-input">
                        <div class="input-title">确认新密码：</div>
                        <div>
                            <input type="password" placeholder="确认新密码" ng-model="input.password_2">
                        </div>
                        <div class="tips">
                            * 
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-footer">
                <!-- <span class="reset-btn">重置</span> -->
                <span class="submit-btn" ng-click="ajaxForm()">修改密码</span>
            </div>
        </div>
    </div>
</div>
<dribehance-footer></dribehance-footer>