<dribehance-header title="'推荐人信息列表'" back-action="'on'"></dribehance-header>
<div class="wrap">
    <div class="me-section">
        <div class="me-section-header">
            <span class="block">累计推荐获利</span>
            <span class="balance">5000.00</span>
        </div>
        <div class="recommandors">
            <div class="recommandor-header">
                <div class="recommandor-cell">
                    时间
                </div>
                <div class="recommandor-cell">
                    推荐人
                </div>
            </div>
            <div class="recommandor-row">
                <div class="recommandor-cell">
                    2016-03-06 15:30:20
                </div>
                <div class="recommandor-cell">
                    186****1152
                </div>
            </div>
            <div class="recommandor-row">
                <div class="recommandor-cell">
                    2016-03-06 15:30:20
                </div>
                <div class="recommandor-cell">
                    186****1152
                </div>
            </div>
            <div class="recommandor-row">
                <div class="recommandor-cell">
                    2016-03-06 15:30:20
                </div>
                <div class="recommandor-cell">
                    186****1152
                </div>
            </div>
            <div class="recommandor-row">
                <div class="recommandor-cell">
                    2016-03-06 15:30:20
                </div>
                <div class="recommandor-cell">
                    186****1152
                </div>
            </div>
            <div class="recommandor-row">
                <div class="recommandor-cell">
                    2016-03-06 15:30:20
                </div>
                <div class="recommandor-cell">
                    186****1152
                </div>
            </div>
            <div class="recommandor-row">
                <div class="recommandor-cell">
                    2016-03-06 15:30:20
                </div>
                <div class="recommandor-cell">
                    186****1152
                </div>
            </div>
            <div class="recommandor-row">
                <div class="recommandor-cell">
                    2016-03-06 15:30:20
                </div>
                <div class="recommandor-cell">
                    186****1152
                </div>
            </div>
            <div class="recommandor-row">
                <div class="recommandor-cell">
                    2016-03-06 15:30:20
                </div>
                <div class="recommandor-cell">
                    186****1152
                </div>
            </div>
            <div class="recommandor-row">
                <div class="recommandor-cell">
                    2016-03-06 15:30:20
                </div>
                <div class="recommandor-cell">
                    186****1152
                </div>
            </div>
            <div class="recommandor-row">
                <div class="recommandor-cell">
                    2016-03-06 15:30:20
                </div>
                <div class="recommandor-cell">
                    186****1152
                </div>
            </div>
        </div>
    </div>
</div>
