<dribehance-header title="'推荐人信息列表'" back-action="'on'" user="user"></dribehance-header>
<div class="wrap">
    <user-sidebar active="'recommandors'" user="user"></user-sidebar>
    <!-- right wrap -->
    <div class="right-wrap">
        <div class="game-section">
            <div class="section-header">
                推荐人信息列表
            </div>
            <div class="section-content">
                <div class="me-section">
                    <div class="me-section-header">
                        <span class="block">累计推荐</span>
                        <span class="balance">{{total_user}}位用户</span>
                    </div>
                    <div class="recommandors">
                        <div class="recommandor-header">
                            <div class="recommandor-cell">
                                时间
                            </div>
                            <div class="recommandor-cell">
                                推荐码
                            </div>
                        </div>
                        <div class="recommandor-row" ng-repeat="recommandor in recommandors">
                            <div class="recommandor-cell">
                                {{recommandor.post_time}}
                            </div>
                            <div class="recommandor-cell">
                                {{recommandor.invite_code||"-"}}
                            </div>
                        </div>
                    </div>
                    <div class="load-more hover text-center" ng-if="!no_more" ng-click="loadMore()">{{page.message}}</div>
                    <div class="text-center" ng-if="no_more" style="padding-top:15px;" ng-click="loadMore()">暂无更多数据</div>
                </div>
            </div>
        </div>
    </div>
</div>
<dribehance-footer></dribehance-footer>