<!-- left wrap -->
<div class="left-wrap">
    <div class="game-section" ng-if="user.user_id">
        <div class="section-header">
            个人中心
        </div>
        <div class="section-content">
            <div class="user-section">
                <a class="user-section-item" ng-class="{'active':active=='bills'}" ng-href="#/bills">
                        资金流水
                        <i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
                    </a>
                <a class="user-section-item" ng-class="{'active':active=='orders'}" ng-href="#/orders">
                        注单查询
                        <i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
                    </a>
                <a class="user-section-item" ng-class="{'active':active=='recommandors'}" ng-href="#/recommandors">
                        推荐人信息列表
                        <i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
                    </a>
                <a class="user-section-item" ng-class="{'active':active=='recommand_income'}" ng-href="#/recommand_income">
                        推荐人获利列表
                        <i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
                    </a>
                <a class="user-section-item" ng-class="{'active':active=='my_code'}" ng-href="#/my_code">
                        我的推荐码
                        <i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
                    </a>
                <a class="user-section-item" ng-class="{'active':active=='modify_password'}" ng-href="#/modify_password">
                        修改登录密码
                        <i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
                    </a>
                <a class="user-section-item" ng-class="{'active':active=='modify_trade_password'}" ng-href="#/modify_trade_password">
                        修改提现密码
                        <i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
                    </a>
                <a class="user-section-item" ng-class="{'active':active=='messages'}" ng-href="#/messages">
                        消息记录
                        <i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
                    </a>
            </div>
        </div>
    </div>
    <div class="game-section">
        <div class="section-header">
            常用操作
        </div>
        <div class="section-content">
            <div class="user-section">
                <a class="user-section-item" ng-class="{'active':active=='online_charge'}" ng-href="#/online_charge">
                        在线充值
                        <i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
                    </a>
                <a class="user-section-item" ng-class="{'active':active=='online_withdraw'}" ng-href="#/online_withdraw" ng-if="user.user_id">
                        在线取款
                        <i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
                    </a>
                <a class="user-section-item" ng-class="{'active':active=='contact'}" ng-href="#/contact">
                        在线客服
                        <i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
                    </a>
                <a class="user-section-item" ng-class="{'active':active=='forget'}" ng-href="#/forget">
                        忘记密码
                        <i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
                    </a>
            </div>
        </div>
    </div>
</div>
